.flight {
    display: flex;
    justify-content: space-between;
    margin-top: 1.5em;
    padding: 1em;
    border: solid 1px;
    border-color: black;

    h2 {
        margin-top: 0;
    }
}

.details {
    display: flex;
    justify-content: space-evenly;
}

.content-left {
    flex-grow: 2;
}

.content-right {
    max-width: 300px;

    img {
        height: 200px;
        width: 100%;
        object-fit: cover;
    }

    button {
        padding: 1em;
        width: 100%;
    }
}
